<div class="row mx-3">
  <div
    *ngFor="let item of items"
    (mouseenter)="this.onHover.emit($event)"
    (mouseleave)="this.onHover.emit(null)"
    class="pb-4 col-sm-3 mt-auto mb-auto"
  >
    <div class="img img_container item" [routerLink]="['/artwork', item?.id]">
      <img *ngIf="loadContent" class="img-fluid img_self" src="{{ item?.imageSmall }}" alt="{{ item?.label }}" />
      <div class="overlay_view">
        <span class="img_description">{{ item?.label }}</span>
      </div>
    </div>
  </div>
</div>
