.img_self {
  display: block;
  width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.overlay_view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.item {
  position: relative;
  max-height: 20em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover .overlay_view {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  &-container {
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.img_description {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
