@if (meta$ | async; as meta) {
  <div class="license-info align-items-center">
    <div class="author rounded-pill bg-secondary first-letter badge-transparent d-inline-flex flex-wrap fs-6 px-2">
      <div>
        @if (meta.author.length) {
          <span>{{authorText}}</span>
        } @else {
          Source
        }
        <span class="me-1">,</span>
      </div>
      @if (meta.licenseUrl) {
        <ng-container class="ms-1">
          <a [href]="meta.licenseUrl" target="_blank" rel="noopener">{{ meta.licenseShortName }},</a>
          <i class="fas fa-external-link"></i>
        </ng-container>
      } @else {
        {{ meta.licenseShortName }},
      }
      <a class="ms-1" [href]="'https://commons.wikimedia.org/wiki/File:' + imageName" target="_blank" rel="noopener"
        >via Wikimedia Commons <i class="ms-1 font-sm fas fa-external-link-alt"></i
      ></a>
    </div>
  </div>
}
