<div *ngIf="idDoesNotExist" class="container entity motif">
  <div class="row mb-5 border-bottom pb-5">
    <app-error-message  [id]="motifId"></app-error-message>
  </div>
</div>

<div *ngIf="!idDoesNotExist" class="container entity motif">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="motif">
      <app-title [entity]="motif"></app-title>
      <app-sticky-title [entity]="motif"></app-sticky-title>

      <div class="mb-3 mt-5 pl-2">
        <p *ngIf="motif?.description" class="mb-1 first-letter">
          {{ motif?.description }}
        </p>
      </div>

      <div *ngIf="motif.abstract">
        <app-collapse>
          <app-abstract [entity]="motif"></app-abstract>
        </app-collapse>
      </div>


    </div>

    <div class="col-sm-5 img" *ngIf="motif?.image">
      <img class="img-fluid rounded-circle" src="{{ motif?.imageSmall }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ motif?.absoluteRank }}</span>
  <span class="ml-1 slider-heading" i18n="Artworks label@@artworks">Artworks</span>
  <app-fetching-list id="artworks-list" [query]="query" [options]="fetchOptions"></app-fetching-list>
</div>
