<div class="col-md row more" (click)="toggle()">
  <div class="mr-1 mt-auto mb-auto text-muted" *ngIf="showVideo">
    <i class="fab fa-youtube fa-2x"></i>
  </div>

  <h4 class="mt-auto mb-auto debug">
    <ng-container i18n="Detail More label@@more">{{ heading }}</ng-container>
    <i *ngIf="collapse" class="fas fa-chevron-down"> </i>
    <i *ngIf="!collapse" class="fas fa-chevron-up"> </i>
  </h4>
</div>

<div
  [ngClass]="{
    'collapse-element': collapse,
    'collapse-element-show': !collapse
  }"
>
  <ng-content></ng-content>
</div>
