/* style for carousel next prev icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
}

::ng-deep {
  .custom-carousel {
    .carousel-indicators {
      //display: none;
      top: -4% !important;
      pointer-events: none !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 100% !important;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 2% !important;
    }
  }
}
