<div class="container">
  <h2>
    <span i18n="All@@all">all</span>
    <span class="ml-2" i18n="Entities Type Labels@@entities_labels" *ngIf="type; let type">
    {type, select, artwork {Artworks} motif {Motifs} artist {Artists} location {Locations} genre {Genres} movement {Movements} material {Materials}}
  </span>
  </h2>

  <app-infinite-scroll (scrolled)="onScroll()">
    <div class="d-flex flex-wrap bd-highlight mb-3 m-auto justify-content-around">
      <a *ngFor="let entity of entities" class="item"
         [routerLink]="['/'+type, entity?.id]">
        <div class="img-wrapper">
          <img
            *ngIf="entity?.imageSmall"
            class="bd-highlight img-self"
            src="{{ entity?.imageSmall }}"
            alt="{{ entity?.label }}"
            (error)="onLoadingError(entity)"
          />
        </div>
        <div class="item-caption">
          <div class="ml-1">
            <i class="mr-1 fas" [ngClass]="entity.icon"></i>
            <span>{{entity.label}}</span>
          </div>
          <div *ngIf="type!='artwork'" class="ml-1">
            <i class="mr-1 fas fa-images"></i>
            <span>{{entity.absoluteRank}}</span>
          </div>
          <div *ngIf="type=='movement' && entity.start_time && entity.end_time" class="ml-1">
            <i class="mr-1 fa fa-ruler-horizontal"></i>
            <span>{{entity.start_time}} - {{entity.end_time}}</span>
          </div>
          <div *ngIf="type=='artist' && entity.date_of_birth && entity.date_of_death" class="ml-1">
            <i class="mr-1 fa fa-star-of-life"></i>
            <span>{{entity.date_of_birth}}</span>
            <i class="ml-1 mr-1 fa fa-cross"></i>
            <span>{{entity.date_of_death}}</span>
          </div>
        </div>
      </a>
    </div>
  </app-infinite-scroll>
</div>
