<div class="mb-4 container-category">
  <div class="carousel-wrapper" [class.is-loaded]="isLoaded">
    @if (!isLoaded) {
      <div class="loading-placeholder">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        @if (category && category.items && category.items.length > 0) {
          <img
            src="{{ category.items[0].imageSmall }}"
            alt="Preloading Image..."
            (load)="onImgPreloaded()"
            (error)="onLoadingError(category, category.items[0])"
            />
        }
      </div>
    }
    @if (isLoaded) {
      <div>
        <ngb-carousel [animation]="false" [showNavigationIndicators]="false">
          @for (item of category.items; track item) {
            <ng-template ngbSlide>
              <a
                class="container-image"
                [routerLink]="['/' + category.type, item?.id]"
                angulartics2On="click"
                angularticsAction="Home tiles"
                angularticsCategory="Navigation"
                >
                <img class="image" src="{{ item?.imageSmall }}" alt="{{ item?.label }}" (error)="onLoadingError(category, item)" />
                <div class="overlay">
                  <span class="type badge bg-secondary rounded-pill chip">
                    <i class="fas {{ category.icon }}"></i>
                    @if (category.type; as type) {
                      <ng-container i18n="Entity Type Labels@@entity_labels">
                  {type, select, all {All} artwork {Artwork} motif {Motif} artist {Artist} location {Location} genre {Genre} movement {Movement} material
                  {Material} class {Class}}
                </ng-container>
                    }
                  </span>
                  <span class="label">{{ item?.label | titlecase }}</span>
                </div>
              </a>
            </ng-template>
          }
        </ngb-carousel>
        <a class="entities-link" [routerLink]="['/' + usePlural(category.type)]">
          <span class="entities-caption">
            <span i18n="All@@all">all</span>
            @if (category.type; as type) {
              <span class="ms-1 me-1" i18n="Entities Type Labels@@entities_labels">
            {type, select, artwork {Artworks} motif {Motifs} artist {Artists} location {Locations} genre {Genres} movement {Movements} material {Materials}
            class {Classes}}
          </span>
            }
            <i class="fas fa-chevron-right"></i>
          </span>
        </a>
      </div>
    }
  </div>
</div>
