/** Styling for the category boxes */
.container-category {
  .entities {
    &-link {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 2rem;
      background-color: #444444;
      border-radius: 1rem;
      text-align: center;

      &:hover {
        transform: translateY(25%);
        transition: 0.3s ease;
      }
    }

    &-caption {
      position: relative;
      width: 100%;
      font-size: larger;
      pointer-events: auto;
      margin-top: auto;
    }
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #444444;
    border-radius: 15px;
    text-align: center;
    opacity: 1;
    transition: 0.2s opacity ease-in-out, 0.2s background ease-in-out;
  }

  .carousel-wrapper:not(.is-loaded) {
    opacity: 0.75;
    background-color: rgba(68, 68, 68, 0.75);
  }

  .loading-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;

    img {
      width: 0;
      height: 0;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 15px;

    .badge {
      font-weight: normal;
    }
    i {
      margin-right: 5px;
    }
  }

  ngb-carousel {
    pointer-events: auto;

    box-shadow: 0 0 30px 1px black;
    transition: all 0.5s ease;
    border-radius: 15px;

    /* hide the aria-live status (e.g. "Slide 3 of 14")  */
    [aria-live] {
      display: none;
    }

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease;
      transform: scale(1.05);
      box-shadow: 0 0 20px 1px black;
    }

    &:hover > .overlay {
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 15px;
    }
  }

  .container-image {
    display: block;
    height: 15rem;
    width: 100%;
    overflow: hidden;
  }

  .image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
  }

  .label {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    width: 70%;
    text-shadow: 0 0 5px black;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .type {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

/** Style for generated ngbcarousel **/
::ng-deep .container-category .carousel-control-prev,
::ng-deep .container-category .carousel-control-next {
  width: 10%;
  padding: 0 2%;
  opacity: 0.4;
}

::ng-deep .container-category .carousel-control-prev:hover {
  border-radius: 15px 0 0 15px;
  background: linear-gradient(90deg, #000000, #44444400);
}

::ng-deep .container-category .carousel-control-next:hover {
  border-radius: 0 15px 15px 0;
  background: linear-gradient(270deg, #000000, #44444400);
}
