<nav class="navbar navbar-expand-sm mb-3 ">
  <div class="container border-bottom">
    <a class="navbar-brand" href="#">
      <h3>ArtBrowser</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav">
        <li class="nav-item flex-grow-1">
          <form action="" class="search-form d-flex justify-content-end">
            <div class="form-group has-feedback">
              <app-search></app-search>
            </div>
          </form>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="true">
            <h3><i class="fas fa-bars"></i></h3>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Impressum</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
