@import '../../../../variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $HeaderHeight;
  background: $PrimaryColor;
  font-weight: $FontWeightBold;

  &--heading {
    font-size: $FontSizeHuge;
    color: $FontColorStandard;
  }
}
