#navbar:hover ::ng-deep .form-group {
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 97;
  min-width: 100%;
  display: flex;
  background: #222222;

  &-nav {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    li {
      text-align: center;
      display: flex;
      h3 {
        margin-bottom: 0;
      }
    }
  }

  i {
    color: #00bc8c;
  }
}

.dropdown {
  .dropdown-toggle {
    padding: 0 0.6em !important;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    width: auto;
  }
}

#title {
  color: #00bc8c;

  h3 {
    font-size: 1.2em;
    width: unset;
    padding: unset;
  }

  span {
    font-size: 0.7em;
    width: unset;
    padding: unset;
    @media (min-width: 0px) and (max-width: 575px) {
      font-size: 0.5em;
      margin-left: 2em;
    }

    @media (min-width: 577px) and (max-width: 991px) {
      font-size: 0.6em;
    }
  }
}

.dropdown .active {
  color: #00bc8c;
  pointer-events: none;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  min-width: 400px;
  padding-left: 0;

  @media (max-width: 575px) {
    min-width: 300px;
    justify-content: center;
  }

  .form-group {
    width: 32px;
    margin: 0 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: all 0.35s ease-out;
  }

  ::ng-deep .search__header-chips {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    background-color: #ddd;
    height: 0;
    transition: all 0.35s ease-in;
    padding: 0;
  }

  ::ng-deep .form-control {
    padding: 0 !important;
    height: 1.8em !important;
    transition: all 0.35s ease-out;
    opacity: 0 !important;
  }
}

#navbar:hover ::ng-deep .search__header-chips,
.form-group:focus-within ::ng-deep .search__header-chips {
  opacity: 1;
  transition: all 0.25s ease-out;
  max-height: 90px;
  height: auto;
  padding: 0.1em;
}

#navbar:hover ::ng-deep .form-control,
.form-group:focus-within ::ng-deep .form-control {
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  transition: all 0.35s ease-in;
  opacity: 1 !important;
}

#navbar:hover .form-group,
.search-form .form-group:focus-within {
  flex-grow: 1;
}

#navbar:hover ::ng-deep .search-chip,
.search-form .form-group:focus-within ::ng-deep .search-chip {
  display: inline-block;
}

@media (max-width: 575px) {
  .dropdown.show .dropdown-toggle {
    text-align: center;
  }
  .dropdown-menu {
    position: absolute !important;
  }
  #navbar {
    padding: 0 0.5 0.5 0.5rem !important;
  }
  .navbar {
    padding: 0;
    &-nav {
      flex-direction: row;
    }
    li:nth-child(2),
    li:nth-child(3) {
      margin-left: auto;
    }
    li:nth-child(2) {
      flex: 0 0 100%;
      margin-top: 0.5rem;
      order: 4;
    }
  }
  .nav-item.dropdown h3 {
    margin-bottom: 0;
  }
  #navbar ::ng-deep .form-group {
    width: 100%;
  }
  .form-group {
    margin: 0 0.5em !important;
  }

}
