.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  width: auto;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  width: 100%;
  min-width: 400px;

  @media (min-width: 0px) and (max-width: 576px) {
    min-width: 300px;
  }

  .form-group {
    width: 32px;
    margin: 0 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: all 0.35s ease-out;
  }

  ::ng-deep .search__header-chips {
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    height: 0px;
    transition: all 0.35s ease-in;
    padding: 0;
  }
}

#navbarColor03:hover ::ng-deep .search__header-chips,
.form-group:focus-within ::ng-deep .search__header-chips {
  opacity: 1;

  transition: all 0.35s ease-in;
  max-height: 90px;
  height: auto;
  padding: 0.1em;
}

#navbarColor03:hover .form-group,
.search-form .form-group:focus-within {
  flex-grow: 1;
}

#navbarColor03:hover ::ng-deep .search-chip,
.search-form .form-group:focus-within ::ng-deep .search-chip {
  display: inline-block;
  margin-bottom: 6px;
}

#headerTitle {
  font-size: 1.2em;

  @media (min-width: 0px) and (max-width: 576px) {
    font-size: 1em;
  }

  @media (min-width: 577px) and (max-width: 991px) {
    font-size: 1.2em;
  }
}

#h3-span {
  font-size: 0.7em;

  @media (min-width: 0px) and (max-width: 576px) {
    font-size: 0.5em;
    margin-left: 2em;
  }

  @media (min-width: 577px) and (max-width: 991px) {
    font-size: 0.6em;
  }
}
