<div
  class="background-image"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url(&quot;' + backgroundImageUrl + '&quot;)'
  }"
></div>
<div class="container">
  <div class="container-search">
    <div class="d-flex justify-content-center row logo">
      <span>open</span>
      <h1>ArtBrowser</h1>
    </div>
  </div>

  <div class="categories-box">
    <div class="row pt-4 mb-4">
      <app-category-container class="col-lg-3" [category]="artworkCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="artistCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="movementCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="classCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="locationCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="materialCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="genreCategory"></app-category-container>
      <app-category-container class="col-lg-3" [category]="motifCategory"></app-category-container>
    </div>
  </div>
  <app-movement-overview id="mv_overview"></app-movement-overview>
</div>
