$color1: #00bc8c;

/** Set background of the home page */
.background-image {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/** Styling for the title & search div */
.container-search {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;

  @media (min-width: 377px) and (max-width: 575px) {
    display: none;
  }

  @media (min-width: 577px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 0px) and (max-width: 575px) {
    display: none;
  }

  .logo {
    width: 100%;

    span {
      font-size: 4vh;
      letter-spacing: 0;
      color: $color1;
      width: unset;
      padding: unset;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 4vh;
      }
      @media (min-width: 577px) and (max-width: 767px) {
        font-size: 3vh;
        padding-top: 0;
      }
    }

    h1 {
      font-size: 7vh;
      letter-spacing: 0;
      color: $color1;
      width: unset;
      padding: unset;

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 7vh;
      }
      @media (min-width: 577px) and (max-width: 767px) {
        font-size: 5vh;
      }
      @media (min-width: 377px) and (max-width: 575px) {
        font-size: 3.5vh;
      }
      @media (min-width: 0px) and (max-width: 376px) {
        font-size: 2vh;
      }
    }
  }

  .search-control {
    width: 90%;
    margin: auto;

    #homeSearch {
      ::ng-deep .dropdown-menu.show {
        display: block;
      }
    }
  }
}

/** Styling search component input field */
:host ::ng-deep .search div input {
  height: 3.5rem;
  font-size: 1.7rem;

  @media (min-width: 577px) and (max-width: 767px) {
    height: 2.5rem;
    font-size: 1.1rem;
  }
  @media (min-width: 377px) and (max-width: 575px) {
    height: 2rem;
    font-size: 1rem;
  }
  @media (min-width: 0px) and (max-width: 376px) {
    height: 2rem;
    font-size: 0.8rem;
  }

  border-bottom: 1px solid white;

  transition: all 0.3s ease;
  -webkit-animation: fade 4s infinite;
  -moz-animation: fade 4s infinite;
  -o-animation: fade 4s infinite;
  animation: fade 4s infinite;

  &:focus {
    background-color: white;
    box-shadow: 0 0 50px 2px $color1;
    border-bottom: none;
  }
}

/** do not display movement overview in mobile version **/
@media only screen and (max-width: 500px) {
  #mv_overview {
    display: none;
  }
}
