<div class="background-image"></div>
<div class="container">
  <div class="container-content">
    <div class="text-center">
      <h1 class="title">ArtBrowser</h1>
    </div>
    <div class="container">
      <app-search class="search"> </app-search>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-lg-4 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of artworkItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/artwork', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fas fa-palette"></i> Artwork</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>

    <div class="col-lg-4 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of artistItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/artist', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fa fa-user"></i> Artist</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>

    <div class="col-lg-4 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of movementItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/movement', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fa fa-wind"></i> Movement</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-lg-3 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of locationItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/location', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fas fa-archway"></i> Location</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>

    <div class="col-lg-3 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of materialItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/material', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fa fa-scroll"></i> Material</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>

    <div class="col-lg-3 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of genreItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/genre', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fa fa-tags"></i> Genre</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>

    <div class="col-lg-3 mb-4 container-category">
      <ngb-carousel interval="10000">
        <div *ngFor="let item of motifItems" class="hidden">
          <ng-template ngbSlide>
            <div class="" [routerLink]="['/motif', item?.id]">
              <img class="image" src="{{ item?.image }}" alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill"><i class="fa fa-image"></i> Motif</span>
                <span class="label">{{ item?.label }}</span>
              </div>
            </div>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>
  </div>
</div>
