<div class="background-image"
  [ngStyle]="{'background-image': 'linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url('+ backgroundImageUrl +')'}">
</div>
<div class="container">
  <div class="container-search">
    <div class="d-flex justify-content-center row logo">
      <span>open</span>
      <h1>ArtBrowser</h1>
    </div>
    <div class="search-control">
      <app-search class="search" id="homeSearch"> </app-search>
    </div>
  </div>

  <div class="row pt-4">
    <div class="mb-4 container-category" *ngFor="let category of categories; let i = index"
      [ngClass]="(categories.length / 2 > i + 1)?'col-lg-4':'col-lg-3'">
      <ngb-carousel>
        <div *ngFor="let item of category.items">
          <ng-template ngbSlide>
            <a class="container-image" [routerLink]="['/' + category.type, item?.id]">
              <img class="image" (error)="onLoadingError(category, item)" src="{{ item?.imageSmall }}"
                alt="{{ item?.label }}" />
              <div class="overlay">
                <span class="type badge badge-secondary badge-pill chip">
                  <i class="fas fa-{{ category.icon }}"></i>
                  <ng-container i18n="Entity Type Labels@@entity_labels" *ngIf="category.type; let type">
                      {type, select, all {All} artwork {Artwork} motif {Motif} artist {Artist} location {Location}
                      genre {Genre} movement {Movement} material {Material} }
                    </ng-container>
                </span>
                <span class="label">{{ item?.label | titlecase }}</span>
              </div>
            </a>
          </ng-template>
        </div>
      </ngb-carousel>
    </div>
  </div>
</div>
