@import '../../../variables';

/** test variable for background image (will be removed later) */
$monalisa: 'https://upload.wikimedia.org/wikipedia/commons/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg';
$michaelina: 'https://upload.wikimedia.org/wikipedia/commons/1/14/Michaelina_wautier-anunciaci%C3%B3n.jpg';

$color1: #00bc8c;

/** Set background of the home page */
.background-image {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url($michaelina);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/** Styling for the title & search div */
.container-content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 6rem;

  .title {
    font-size: 8rem;
    letter-spacing: 0rem;
    color: $color1;
    width: 100%;
    margin-bottom: 6rem;
  }
}

/** Styling search component input field */
:host ::ng-deep .search div input {
  height: 3.5rem;
  font-size: 1.7rem;
  border-bottom: 1px solid white;

  transition: all 0.3s ease;
  -webkit-animation: fade 4s infinite;
  -moz-animation: fade 4s infinite;
  -o-animation: fade 4s infinite;
  animation: fade 4s infinite;

  &:focus {
    background-color: white;
    box-shadow: 0 0 50px 2px $color1;
    border-bottom: none;
  }
}

/** Styling for the category boxes */
.container-category {
  height: 15rem;
  padding: 0 10px;

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 15px;
  }

  ngb-carousel {
    box-shadow: 0 0 30px 1px black;
    transition: all 0.5s ease;
    border-radius: 15px;

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease;
      transform: scale(1.05);
      box-shadow: 0 0 20px 1px black;
    }

    &:hover>.overlay {
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 15px;
    }
  }

  .container-image {
    height: 15rem;
    width: 100%;
    overflow: hidden;
  }

  .image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .label {
    border-radius: 15px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .type {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
  }
}

/** Style for generated ngbcarousel **/
::ng-deep .container-category .carousel-control-prev,
::ng-deep .container-category .carousel-control-next {
  width: 10%;
  padding: 0 2%;
  opacity: 0.4;

  &:hover {
    cursor: default;
  }
}



@media (min-width: 0px) and (max-width: 376px) {
  .container-content {
    width: 100%;

    .title {
      font-size: 3em;
      margin-bottom: 1em;
    }
  }

  /* Resize main search size and font */
  :host ::ng-deep .search div input {
    height: 2rem;
    font-size: 0.8rem;
  }

  /* Resize main search result only  */
  #homeSearch{
    ::ng-deep .dropdown-menu.show {
      display: block;
      width: 67vw;
  
      ::ng-deep .dropdown-item {
        min-height: 2rem;
        width: 100%;
        font-size: 0.7rem;

        ::ng-deep ngb-highlight{
          width: 50%;
        }
      }
  }
  }
}

@media (min-width:377px) and (max-width: 576px) {
  .container-content {
    width: 70vw;

    .title {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
  }

  /* Resize main search size and font */
  :host ::ng-deep .search div input {
    height: 2.0rem;
    font-size: 1.0rem;
  }

  /* Resize main search result only  */
  #homeSearch{
    ::ng-deep .dropdown-menu.show {
      display: block;
      width: 65vw;

      /* Resize result item*/
      ::ng-deep .dropdown-item {
        width: 100%;
        font-size: 1.0rem;
      }
    }
  }
}

@media (min-width:577px) and (max-width: 767px) {
  .container-content {

    .title {
      font-size: 9vh;
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  /* Resize main search size and font */
  :host ::ng-deep .search div input {
    height: 2.5rem;
    font-size: 1.1rem;
  }

  /* Resize main search result only  */
  #homeSearch{
  ::ng-deep .dropdown-menu.show {
    display: block;
    width: 55vw;

    /* Resize result item*/
    ::ng-deep .dropdown-item {
      width: 100%;
      font-size: 0.9rem;
    }
  }
}
}

@media (min-width:768px) and (max-width: 991px) {
  .container-content {
    .title {
      font-size: 10vh;
      width: 100%;
    }
  }

  /* Resize main search result only  */
  #homeSearch{
  ::ng-deep .dropdown-menu.show {
    display: block;
    width: 57vw;

    /* Resize result item*/
    ::ng-deep .dropdown-item {
      width: 100%;
      font-size: 1.0rem;
    }
  }
}
}

@media (min-width: 992px) {
  .container-content {
    .title {
      font-size: 8em;
    }
  }

  /* Resize main search result only  */
  #homeSearch {
  ::ng-deep .dropdown-menu.show {
    display: block;
    width: 57.5vw;
  }
}
}
