.event-entry {
  margin-bottom: 5px;
  list-style-type: disc;
  list-style-position: inside;
  display: list-item;
}

.time-label {
  display: inline-flex;
  min-width: 10%;
}

.event-label {
  display: inline-flex;
  text-transform: capitalize;
}

.event-description {
  margin-left: 10%;
  padding-left: 20px;
  font-style: italic;
}
