<div class="container custom-bootgrid">
  <div class="col justify-content-center">
    <div class="custom-slider">
      <ng5-slider id="ng5slider" [options]="options"></ng5-slider>
    </div>
    <div class="box-container">
      <div class="row" *ngFor="let row of this.boxes">
        <div *ngFor="let movement of row; index as i"
             id="{{movement.id}}"
             class="item"
             [ngClass]="movement?.label ? 'box' : ''"
             [style.width]="movement.width+'%'"
             (click)="movement.label && onClickMovementBox($event)">
          {{ movement.label | titlecase }}
        </div>
      </div>
    </div>

    <div class="thumbnail-container ">
      <a class="thumbnail" id="thumbnail"
         [routerLink]="['/movement', currentMovementId]"
         angulartics2On="click"
         angularticsCategory="Navigation"
         angularticsAction="Timeline">
        <div class="overlay-container">
          <img *ngIf="thumbnail"
               class=" img_self"
               src="{{ thumbnail?.imageMedium }}"
               alt="{{ thumbnail?.label }}"
               (error)="onLoadingError(thumbnail)"/>
          <div class="overlay_view" [ngClass]="thumbnail?.type == 'artist' ? 'rounded-circle' : ''">
            <span class="img_description">{{ this.currentMovementLabel | titlecase }}</span>
          </div>
        </div>
        <div *ngIf="this.currentDate" class="item-caption">{{this.currentDate}}</div>
      </a>
    </div>

    <svg id="svg">
      <line id="line" class="connection-line"/>
    </svg>
  </div>
</div>
