<div class="normal-timeline custom-bootgrid col justify-content-center">
  <div class="custom-slider">
    @if (movements.length > 0) {
      <ngx-slider id="ngxSlider" [value]="timelineValue" [options]="options"></ngx-slider>
    }
  </div>
  <div class="box-container">
    @for (row of this.boxes; track row) {
      <div class="row">
        @for (movement of row; track movement; let i = $index) {
          <div
            id="{{ movement.id }}"
            class="item"
            [ngClass]="movement?.label ? 'box' : ''"
            [style.width]="movement.width + '%'"
            (click)="movement.label && onClickMovementBox($event)"
            >
            <div class="fit-text-container">{{ movement.label | titlecase }}</div>
          </div>
        }
      </div>
    }
  </div>

  <div class="thumbnail-container">
    <a
      class="thumbnail"
      id="thumbnail"
      [routerLink]="['/movement', currentMovementId]"
      angulartics2On="click"
      angularticsCategory="Navigation"
      angularticsAction="Timeline"
      [class.thumbnail-fading]="!showThumbnail"
      >
      <div class="overlay-container">
        @if (thumbnail?.imageMedium) {
          <img
            class="img_self"
            src="{{ thumbnail?.imageMedium }}"
            alt="{{ thumbnail?.label }}"
            [ngStyle]="{ display: thumbnailLoaded ? 'block' : 'none' }"
            (load)="onThumbnailLoaded()"
            (error)="onLoadingError(thumbnail)"
            />
        }
        <div class="overlay_view" [ngClass]="isType(thumbnail?.type, EntityTypeEnum.ARTIST) ? 'rounded-circle' : ''">
          <span class="img_description">{{ this.currentMovementLabel | titlecase }}</span>
        </div>
      </div>
      @if (this.currentDate) {
        <div class="item-caption">{{ this.currentDate }}</div>
      }
    </a>
  </div>

  <svg id="svg">
    <line id="line" class="connection-line" />
  </svg>
</div>

<div class="badge-timeline custom-bootgrid col justify-content-center">
  @for (movement of inputMovements; track movement) {
    <span>
      <app-information label="{{ movement.start_time }}-{{ movement.end_time }}" [values]="[movement]"></app-information>
    </span>
  }
</div>
