.sticky-title {
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
  z-index: 96;
  position: fixed;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: #222222;
  opacity: 0;

  &-content {
    span {
      font-size: large;
    }

    .badge {
      margin-bottom: 0;
    }
  }

  &-fixed {
    opacity: 1;
  }
}
