<div class="page-details">
  <div class="page-details-heading">
    {{ heading }}
  </div>

  <div class="page-details-content">
    <table class="page-details-content--data">
      <tr class="page-details-content--data--row" *ngFor="let field of dataFields">
        <td class="page-details-content--data--row--label">{{ field.label }}</td>
        <td class="page-details-content--data--row--value">{{ field.value }}</td>
      </tr>
    </table>

    <div class="page-details-content--image--container">
      <img class="page-details-content--image" src="{{ imageUrl }}" alt="Picture couldnt be loaded" />
    </div>
  </div>
</div>
