<a
  *ngIf="entity"
  class="badge badge-pill badge-secondary first-letter chip"
  [ngClass]="{ 'badge-transparent': isHoverBadge, 'badge-light': highlight }"
  tooltipClass="tooltip"
  [ngbTooltip]="tooltip !== null ? htmlContent : ''"
  [routerLink]="[redirectUrl]"
  angulartics2On="click"
  angularticsAction="Badge"
  angularticsCategory="Navigation"
>
  <i class="mr-1" class="fas {{ entity?.icon }}"></i>
  {{ entity?.label }}
</a>

<ng-template #htmlContent>
  <div class="tooltip-container">
    <div class="tooltip-text-container">
      <span  class="tooltip-text">
        {{ tooltip }}
      </span>
    </div>
    <div *ngIf="entity.imageSmall && isImageSourceValid" class="tooltip-image-container">
      <img id="tooltip-image" [src]="entity.imageSmall" (error)="handleInvalidImageSource($event)" />
    </div>
  </div>
</ng-template>
