$color1: #00bc8c;

.tooltip .tooltip-inner {
  border-style: solid;
  border-color: $color1;
  font-size: 125%;
  padding: 1em;
}

.tooltip .arrow::before {
  border-top-color: $color1;
  border-bottom-color: $color1;
}