@if (items?.length > 0 && heading) {
  <h3>{{ heading }}</h3>
}
@if (items.length) {
  <ngb-carousel #carousel class="border-bottom mb-4 mt-4 custom-carousel" data-interval="15000">
    @for (slide of slides; track slide) {
      <ng-template ngbSlide>
        <div (swipeleft)="carousel.next()" (swiperight)="carousel.prev()">
          <app-slide
            [slide]="slide"
            (itemHover)="itemHover.emit($event)"
            (deleteUnusedSlides)="deleteUnusedSlides()"
            [artwork]="artwork"
            [tab_type]="tab_type"
          ></app-slide>
        </div>
      </ng-template>
    }
  </ngb-carousel>
}
