<h3 *ngIf="items.length > 0 && heading">{{ heading }}
  <span *ngIf="totalArtworks">
    ({{ totalArtworks }})
  </span>
</h3>
<ngb-carousel *ngIf="items.length"
              class="border-bottom mb-4 mt-4 custom-carousel"
              data-interval="15000">
  <div *ngFor="let slide of slides">
    <ng-template ngbSlide>
      <app-slide [slide]="slide"
                 (itemHover)="itemHover.emit($event)"
                 (deleteUnusedSlides)="deleteUnusedSlides($event)">
      </app-slide>
    </ng-template>
  </div>
</ngb-carousel>
