<app-infinite-scroll (scrolled)="onScrollDown()">
  <div>
    <div *ngFor="let page of pages | keyvalue: keyAscOrder" class="d-flex flex-wrap bd-highlight mb-3 m-auto">
      <div class="anchor" inViewport
           [inViewportOptions]="{ threshold: [0] }"
           (inViewportAction)="onPageVisible($event)" id="{{pageAnchorElementId+page.key}}">
        {{page.key}}
      </div>
      <div *ngFor="let entity of page.value.items; let i = index" class="item">
        <a *ngIf="entity"
           class="item-link"
           [routerLink]="['/'+options.entityType, entity?.id]">
          <div class="img-wrapper">
            <img
              *ngIf="entity?.imageSmall"
              class="bd-highlight img-self"
              src="{{ entity?.imageSmall }}"
              alt="{{ entity?.label }}"
              (error)="onLoadingError(entity, page.key)"
            />
          </div>
          <ng-container [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{entity: entity, entityType: options.entityType}"></ng-container>
        </a>

      </div>
    </div>
  </div>
  <app-paginator class="paginator"
                 (pageClick)="scrollToPage($event)"
                 [pageNumber]="currentPage"></app-paginator>
</app-infinite-scroll>
