.infinite-scroll-container {
  //height: 100%;
}

.fetching-list {
}

.anchor {
  position: absolute;
  display: inline-block;
  transform: translateX(-1rem);
}

.paginator {
  position: fixed;
  top: 200px;
  right: .1rem;
  z-index: 70;
}

.item {
  width: calc(16.6667% - .6rem);
  margin: .3rem;

  &:hover {
    .item-link {
      color: #ffffff;
      border: 2px solid #00bc8c;
    }

    .item-template_container {
      border-top: 2px solid #00bc8c;
    }

    .item-template_container:empty {
      border-top: none;
    }
  }

  &-template_container {
    border-top: 2px solid #888888;
  }

  &-template_container:empty {
    border-top: none;
  }

  .overlay-container {
    position: relative;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 70;

    &:hover .overlay {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  .overlay {
    z-index: 70;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.4rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .img_description {
    color: white;
    font-size: 1em;
    position: absolute;
    width: 90%;
    top: 50%;
    -webkit-transform: translate(5%, -50%);
    -ms-transform: translate(5%, -50%);
    transform: translate(5%, -50%);
    text-align: center;

  }

  &-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: 2px solid #888888;
    background-color: #444444;

    &:hover {
      text-decoration: none;
    }
  }
}


.img {
  &-wrapper {
    height: 15rem;
    //overflow: hidden;
    border-radius: 0.3rem 0.3rem 0 0;
  }

  &-self {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 50%;
    transform: translate(-50%);
  }

  &-self-rounded {
    border-radius: 0.3rem;
  }
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;

  i {
    font-size: 4rem;
  }

  span {
    //margin-left: 50%;
    //transform: translate(-50%);
  }
}

@media (max-width: 1000px) {
  .item {
    margin: .5rem;
    width: calc(16.6667% - 1rem);
  }
}
@media (max-width: 765px) {
  .item {
    margin: .2rem;
    width: calc(16.6667% - .4rem);
  }
}


@media (max-width: 575px) {
  .item-caption {
    font-size: 0.7em;
  }

  .item {
    width: calc(50% - .4rem);
    margin: .2rem;
  }
  .img {
    &-wrapper {
      height: 10rem;
    }
  }

  .fetching-list {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 2rem);
  }

  .fetching-list-paginator {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .fetching-list-paginator .paginator {
    top: 175px;
    pointer-events: all;
  }
}

@media (max-width: 502px) {
  .item {
    width: calc(50% - .6rem);
    margin: .3rem;
  }
  .img {
    &-wrapper {
      height: 10rem;
    }
  }
}

@media (max-width: 400px) {
  .item-caption {
    font-size: 0.7em;
  }

  .item {
    width: calc(50% - .4rem);
    margin: .2rem;
  }
  .img {
    &-wrapper {
      height: 8rem;
    }
  }
}
