<div *ngIf="items?.length > 0" class="timeline-container">
  <div class="custom-slider">
    <ng5-slider id="ng5slider" [(value)]="value" [options]="options"
                (valueChange)="onSliderMoved()"></ng5-slider>
  </div>
  <div class="carou">
    <div class="carou-control" (click)="prevClicked()">
      <div class="carousel-control-prev-icon carou-control-icon" aria-hidden="true"></div>
    </div>
    <!-- container for content of the carousel -->
    <div class="carou-content">
      <!-- container for all x items -->
      <div [@slideNext]="slideOutRight ? 'out' : 'in'" (@slideNext.start)="resetSlideAnimation()"
           [@slidePrev]="slideOutLeft ? 'out' : 'in'" (@slidePrev.start)="resetSlideAnimation()"
           *ngFor="let item of items |slice:slideStart:slideEnd"
           class="item-container">
        <div class="item" [routerLink]="item?.type === 'artist'? ['/artist', item?.id] :['/artwork', item?.id]">
          <!-- Div for centering the image -->
          <div *ngIf="item?.date" class="item-caption"></div>
          <!-- container for image and hover description -->
          <div class="overlay-container" [ngClass]="(item?.date)?'overlay-container-caption':''">
            <img
              class=" img_self"
              src="{{ item?.imageSmall }}"
              alt="{{ item?.label }}"
              (error)="onLoadingError(item)"
              [ngClass]="item?.type == 'artist' ? 'rounded-circle':''"
            />
            <div class="overlay_view" [ngClass]="item?.type == 'artist' ? 'rounded-circle':''">
              <span class="img_description">{{ item?.label }}</span>
            </div>
          </div>
          <div *ngIf="item?.date"
               [textContent]="item?.type === 'artist'? item?.description : item?.date"
               class="center item-caption">
          </div>
        </div>
      </div>
    </div>
    <div class="carou-control" (click)="nextClicked()">
      <span class="carousel-control-next-icon carou-control-icon"> </span>
    </div>
  </div>
</div>
<hr>
