.videos {
  width: 100%;
}

.video {
  display: inline-block;
  margin-right: 16px;
}

.video:last-child {
  margin: 0;
}

#artworks_tab {
  .item-caption {
    color: #ffffff;
    font-size: 0.9em;
  }
}
