<div class="container">

  <div class="row mb-5">
      <div class="col-sm-7">
          <span class="badge badge-pill badge-secondary"><i class="fas fa-user"></i> Artist</span>
          <h2 class="mb-3">{{artist?.label}} </h2> 
          <div class="mb-3 mt-5">
              <span class="text-muted">Born: </span>&nbsp;&nbsp;&ensp;{{artist?.date_of_birth}} in {{artist?.place_of_birth}}
          </div> 
          <div *ngIf = "artist?.date_of_death !== ''">
              <span class="text-muted">Died: </span>&nbsp;&nbsp;&ensp;{{artist?.date_of_death}} in {{artist?.place_of_death}}
          </div>

          <h4 class="mt-5 more" data-toggle="collapse" href="#collapseArtist" (click)="switchIcon()">More 
            <i *ngIf="collapseDown" data-toggle="collapse" href="#collapseArtist" class="fas fa-chevron-down"> </i> 
            <i *ngIf="!collapseDown" data-toggle="collapse" href="#collapseArtist" class="fas fa-chevron-up"> </i></h4>

          <div class="mx-3 collapse border-bottom" id="collapseArtist">
              
              <div class="row">
                    <div class="col-sm ">
                      <p class="text-muted"> Gender:</p> 
                      <p class="text-muted"> Citizenship:</p>
                      <p class="text-muted"> Movement: </p>
                      <p class="text-muted"> Influenced by:</p>
                    </div>
                    <div class="col-9">
                        <p>{{artist?.gender}}</p>
                        <p>{{artist?.citizenship}}</p>
                        <p><span class="badge badge-pill badge-secondary">High Renaissance</span>
                        <p><span class="badge badge-pill badge-secondary"> Someone</span></p>
                    </div>
                  </div>

                            
          </div>

      </div>
      <div class="col-sm-5 img">
          <img class="img-fluid rounded-circle" src="{{artist?.image}}" alt="{{artist?.label}}">
      </div>
  </div>

  <h4>Artworks</h4>

  <app-slider [items]="sliderItems"> </app-slider>
</div>
