img {
  max-height: 20em;
}

.more {
  cursor: pointer;
}

.wiki-link {
  white-space: nowrap;
  float: right;
}

@media (min-width: 992px) {
  .info {
    margin-left: -2em;
  }

  /*pl-1*/
  .notchip {
    padding-left: 0.25rem;
  }
}

table.table-fit {
  td{
    padding-bottom: 0.5em;
    padding-right: 2em;
    vertical-align: top;
    text-align: left;
  }
}

@media (max-width: 992px) {
  .info {
    margin-left: 1em;
  }

  /*pl-0*/
  .notchip {
    padding-left: 0;
  }
}

/* Unset cursor: pointer; badge */
.cursor-unset {
  cursor: unset;
}
