<div class="container2" id="tooltip-container2" (mouseover)="calculateTooltipPosition()" (mouseleave)="hideTooltip()">
  <span class="highlighting"> {{ highlighting }}</span>
  <div
    class="tooltip-container"
    [ngClass]="{'show-tooltip':showTooltip, 'top': tooltipYPosition == 'top', 'bottom': tooltipYPosition == 'bottom', 'left': tooltipXPosition == 'left', 'right': tooltipXPosition == 'right'}"
    id="tooltip-container"
  >
    <div class="tooltip-text-container">
      <span  class="tooltip-text">
        {{ text }}
      </span>
    </div>
    <div *ngIf="image" class="tooltip-image-container"><img class="tooltip-image" [src]="image" /></div>
  </div>
</div>
