$container-row-height: 15em;

.slide {
  min-height: $container-row-height*2;
  height: $container-row-height*2;
}

.img_self {
  display: block;
  margin:0 auto;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}

.overlay_view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.item-container {
  max-height: 50%;
  height: 100%;
  display: block;
  align-items: center;
  // Padding between items/artworks
  padding: 10px;

}

.overlay-container {
  position: relative;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;

  &:hover .overlay_view {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_description {
  color: white;
  font-size: 1em;
  position: absolute;
  width: 90%;
  top: 50%;
  -webkit-transform: translate(5%, -50%);
  -ms-transform: translate(5%, -50%);
  transform: translate(5%, -50%);
  text-align: center;
}
