<div class="row mx-3 slide">
  <div
    *ngFor="let item of slide.items"
    (mouseenter)="this.itemHover.emit(item)"
    (mouseleave)="this.itemHover.emit(null)"
    class="mb-4 col-sm-3 mt-auto mb-auto item-container"
  >
    <a *ngIf="slide.loadContent" class="item" [routerLink]="['/artwork', item?.id]">
      <div class="overlay-container">
        <img
          class=" img_self"
          (error)="onLoadingError(item)"
          src="{{ item?.imageSmall }}"
          alt="{{ item?.label }}"
        />
        <div class="overlay_view">
          <span class="img_description">{{ item?.label }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
