<div class="row mx-3 slide">
  <div
    *ngFor="let item of slide.items"
    (mouseenter)="this.itemHover.emit(item)"
    (mouseleave)="this.itemHover.emit(null)"
    class="mb-4 col-sm-3 mt-auto mb-auto item-container"
  >
    <a
      *ngIf="slide.loadContent"
      class="item"
      [routerLink]="['/', item?.type, item?.id]"
      angulartics2On="click"
      angularticsAction="Carousel"
      angularticsCategory="Navigation"
    >
      <div class="overlay-container">
        <img class=" img_self" (error)="onLoadingError(item)" src="{{ item?.imageSmall }}" alt="{{ item?.label }}" />
        <div class="overlay_view">
          <span class="img_description">{{ item?.label }}</span>
        </div>
        <div *ngIf="item?.label" [textContent]="item?.type === 'artist' ? item?.description : item?.label" class="center item-caption mobile"></div>
      </div>
    </a>
  </div>
  <div class="common-tags-mobile">
    <h4 class="common-tags-title">
      <ng-container i18n="Related Artworks headline text before tab name @@related_artworks_headline_prev">
        Common
      </ng-container>
      <span class="spacer"></span>
      <ng-container i18n="Related Artworks headline text after tab name @@related_artworks_headline_after">
        tags with artwork
      </ng-container>
      <span> "{{artwork?.label}}"</span>
    </h4>

    <span *ngIf="artwork?.main_subjects?.length && tab_type === 'main_motif' || tab_type === 'all'">
      <span *ngFor="let main_subject of artwork?.main_subjects">
        <app-badge [entity]="main_subject" *ngIf="slide.items[0]?.main_subjects?.includes(main_subject.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.motifs?.length && tab_type === 'motif' || tab_type === 'all'">
      <span *ngFor="let motif of artwork?.motifs">
        <app-badge [entity]="motif" *ngIf="slide.items[0]?.motifs?.includes(motif.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.artists?.length && tab_type === 'artist' || tab_type === 'all'">
      <span *ngFor="let artist of artwork?.artists" >
        <app-badge [entity]="artist" *ngIf="slide.items[0]?.artists?.includes(artist.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.genres?.length && tab_type === 'genre' || tab_type === 'all'">
      <span *ngFor="let genre of artwork?.genres">
        <app-badge [entity]="genre" *ngIf="slide.items[0]?.genres?.includes(genre.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.movements?.length && tab_type === 'movement' || tab_type === 'all'">
      <span *ngFor="let movement of artwork?.movements">
        <app-badge [entity]="movement" *ngIf="slide.items[0]?.movements?.includes(movement.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.materials?.length && tab_type === 'material' || tab_type === 'all'">
      <span *ngFor="let material of artwork?.materials">
        <app-badge [entity]="material" *ngIf="slide.items[0]?.materials?.includes(material.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.locations?.length && tab_type === 'location' || tab_type === 'all'">
      <span *ngFor="let location of artwork?.locations">
        <app-badge [entity]="location" *ngIf="slide.items[0]?.locations?.includes(location.id)"> </app-badge>
      </span>
    </span>

    <span *ngIf="artwork?.classes?.length && tab_type === 'class' || tab_type === 'all'">
      <span *ngFor="let class of artwork?.classes">
        <app-badge [entity]="class" *ngIf="slide.items[0]?.classes?.includes(class.id)"> </app-badge>
      </span>
    </span>
  </div>
</div>
