<div class="row mx-3 slide">
  @for (item of slide.items; track item) {
    <div
      (mouseenter)="this.itemHover.emit(item)"
      (mouseleave)="this.itemHover.emit(null)"
      class="mb-4 col-sm-3 mt-auto mb-auto item-container"
      >
      @if (slide.loadContent) {
        <a
          class="item"
          [routerLink]="['/', item?.type, item?.id]"
          angulartics2On="click"
          angularticsAction="Carousel"
          angularticsCategory="Navigation"
          >
          <div class="overlay-container">
            <img class="img_self" (error)="onLoadingError(item)" src="{{ item?.imageSmall }}" alt="{{ item?.label }}" />
            <div class="overlay_view">
              <span class="img_description">{{ item?.label }}</span>
            </div>
            @if (item?.label) {
              <div [textContent]="item?.type === 'artist' ? item?.description : item?.label" class="center item-caption mobile"></div>
            }
          </div>
        </a>
      }
    </div>
  }
  <div class="common-tags-mobile">
    <h4 class="common-tags-title">
      <ng-container i18n="Related Artworks headline text before tab name @@related_artworks_headline_prev"> Common </ng-container>
      <span class="spacer"></span>
      <ng-container i18n="Related Artworks headline text after tab name @@related_artworks_headline_after"> tags with artwork </ng-container>
      <span> "{{ artwork?.label }}"</span>
    </h4>

    @if ((artwork?.main_subjects?.length && tab_type === 'main_motif') || tab_type === 'all') {
      <span>
        @for (main_subject of artwork?.main_subjects; track main_subject) {
          <span>
            @if (slide.items[0]?.main_subjects?.includes(main_subject.id)) {
              <app-badge [entity]="main_subject"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.motifs?.length && tab_type === 'motif') || tab_type === 'all') {
      <span>
        @for (motif of artwork?.motifs; track motif) {
          <span>
            @if (slide.items[0]?.motifs?.includes(motif.id)) {
              <app-badge [entity]="motif"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.artists?.length && tab_type === 'artist') || tab_type === 'all') {
      <span>
        @for (artist of artwork?.artists; track artist) {
          <span>
            @if (slide.items[0]?.artists?.includes(artist.id)) {
              <app-badge [entity]="artist"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.genres?.length && tab_type === 'genre') || tab_type === 'all') {
      <span>
        @for (genre of artwork?.genres; track genre) {
          <span>
            @if (slide.items[0]?.genres?.includes(genre.id)) {
              <app-badge [entity]="genre"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.movements?.length && tab_type === 'movement') || tab_type === 'all') {
      <span>
        @for (movement of artwork?.movements; track movement) {
          <span>
            @if (slide.items[0]?.movements?.includes(movement.id)) {
              <app-badge [entity]="movement"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.materials?.length && tab_type === 'material') || tab_type === 'all') {
      <span>
        @for (material of artwork?.materials; track material) {
          <span>
            @if (slide.items[0]?.materials?.includes(material.id)) {
              <app-badge [entity]="material"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.locations?.length && tab_type === 'location') || tab_type === 'all') {
      <span>
        @for (location of artwork?.locations; track location) {
          <span>
            @if (slide.items[0]?.locations?.includes(location.id)) {
              <app-badge [entity]="location"> </app-badge>
            }
          </span>
        }
      </span>
    }

    @if ((artwork?.classes?.length && tab_type === 'class') || tab_type === 'all') {
      <span>
        @for (class of artwork?.classes; track class) {
          <span>
            @if (slide.items[0]?.classes?.includes(class.id)) {
              <app-badge [entity]="class"> </app-badge>
            }
          </span>
        }
      </span>
    }
  </div>
</div>
