img{
  max-height: 20em;
}

.dropdown-toggle::after {
  display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  width: 2%;
}

