body {
  height: 100%;
}

html {
  height: 100%;
}

/* Badge */
.badge:hover {
  cursor: pointer;
}

.badge i{
  margin-right:5px;
}

/* Customize carousel  (has no power in slider.compoent.scss)*/
.carousel-indicators {
  visibility: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2%;
}

@media (max-width: 575px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 4%;
  }
}


*:focus {
  outline: transparent;
}

.first-letter::first-letter {
  text-transform: uppercase;
}

.chip {
  font-size: 1em;
  margin-right: 4px;
}

.wiki-link {
  white-space: nowrap;
  float: right;
}

/* Unset cursor: pointer; badge */
.cursor-unset {
  cursor: unset;
}

.entity{
  .img{
    text-align: center;
  }
  img {
    max-height: 20em;
   }

   .more {
    cursor: pointer;

    i{
      margin-left: 5px;
    }
  }

  @media (max-width: 575px) {
    &:not(.artwork) > .row:first-child{
      flex-direction: column-reverse;
     
      img { 
        margin-bottom: 3rem;
      }
    }
  }

  .abstract > div{
    text-align: justify;
  }
  
  @media (min-width: 992px) {
    .info {
      margin-left: -2em;
    }
  
    /*pl-1*/
    .notchip {
      padding-left: 0.25rem;
    }
  }
  
  @media (max-width: 992px) {
    .info {
      margin-left: 1em;
    }
  
    /*pl-0*/
    .notchip {
      padding-left: 0;
    }
  }
}
