body {
  height: 100%;
}

html {
  height: 100%;
}

/* Badge */
.badge:hover {
  cursor: pointer;
}

.badge i {
  margin-right: 5px;
}

*:focus {
  outline: transparent;
}

.first-letter::first-letter {
  text-transform: uppercase;
}

.chip {
  font-size: 1em;
  margin-right: 4px;
}

.wiki-link {
  white-space: nowrap;
  float: right;
}

/* Unset cursor: pointer; badge */
.cursor-unset {
  cursor: unset;
}

.entity {
  .img {
    text-align: center;
  }

  img {
    max-height: 20em;
  }

  .more {
    cursor: pointer;
  }

  @media (min-width: 992px) {
    .info {
      margin-left: -2em;
    }

    /*pl-1*/
    .notchip {
      padding-left: 0.25rem;
    }
  }

  @media (max-width: 992px) {
    .info {
      margin-left: 1em;
    }

    /*pl-0*/
    .notchip {
      padding-left: 0;
    }
  }
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  height: 1px;
}
