body {
  height: 100%;
}

html {
  height: 100%;
}

/* Badge */
.badge:hover{
  cursor: pointer;
}

/* Customize carousel  (has no power in slider.compoent.scss)*/
.carousel-indicators{
  visibility: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2%;
}

*:focus {
  outline: transparent;
}


