<div class="container">
  <p>
    <span class="text-success">openArtBrowser</span> invites you to browse through the world of arts, enjoy beautiful
    artworks and learn interesting
    things. We provide paintings, drawings and sculptures all over the world and from many periods.
  </p>
  <p>
    On the home page, simply click on artworks, movements, artists, materials etc. that you are intersted in. Or maybe
    you are interested in certain motifs?
  </p>
  <p>
    You can also search for topics in the search bar. You can also combine search tags, e.g., <span
      class="text-warning">"Renaissance"</span> and
    <span class="text-warning">"Animal"</span> to find animal depictions in the Renaissance.
  </p>
  <p>
    For each artwork, metadata and related artworks are shown. Related means, that the artworks share the same artist,
    movement, or even motif. Are you interested in commonalities between the artworks? Then just hover over the related
    artwork and see which common tags are highlighted. All tags are hyperlinks and you can browse to the next topic.
  </p>
  <p>Have fun!</p>
  <p>
    <span class="text-success">openArtBrowser</span> is entirely based on open data. Wikimedia provides all images;
    Wikidata all metadata. We support the open data initiative.
  </p>#
  <p>
    <span class="text-success">openArtBrowser</span> was initiated as a University student project at Hochschule
    Darmstadt - University of Applied Sciences, Germany. It is open source under <a href="https://github.com/hochschule-darmstadt/openartbrowser">Github</a>.
  </p>
  Contact: <br>
  Prof. Dr. Bernhard G. Humm <br>
  Hochschule Darmstadt - University of Applied Sciences <br>
  Haardtring, 100 <br>
  D-64295 <br>
  Darmstadt <br>
  <p>
    <a href="mailto:bernhard.humm@h-da.de">bernhard.humm@h-da.de</a>
  </p>
</div>