<div class="container">

  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7">
      <span class="badge badge-pill badge-secondary chip cursor-unset"><i class="fas fa-tag"></i> Genre</span>
      <h2 class="mb-3 first-letter">{{ genre?.label }}</h2>
      <div class="mb-3 mt-5"></div>
      <div class="row">
        <div *ngIf="genre?.abstract" class="col-md pr-0">
          <span>{{ genre?.abstract }}</span>
          <p class="wiki-link">More:&nbsp;<a href="{{ genre?.wikipediaLink }}" target="_blank">Wikipedia</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 img" *ngIf="genre?.imageSmall">
      <img class="img-fluid rounded-circle" src="{{ genre?.imageSmall }}" alt=""/>
    </div>
  </div>
  <app-slider [items]="sliderItems" heading="Artworks"></app-slider>
</div>
