<div class="container">
  <div class="row mb-5">
      <div class="col-sm-7">
          <span class="badge badge-pill badge-secondary"><i class="fas fa-tag"></i> Genre</span>
          <h2 class="mb-3">{{genre?.label}} &nbsp;&nbsp;</h2> 
          <div class="mb-3 mt-5">
          </div>  
      </div>
      <div class="col-sm-5 img">
          <img class="img-fluid rounded-circle" src="{{genre?.image}}" alt="{{genre?.label}}">
      </div>
  </div>
  <app-slider [items]="sliderItems" heading="Artworks"> </app-slider>
</div>