img {
  max-height: 20em;
}

// TODO remove unused .more class
.more {
  cursor: pointer;
}

@media (min-width: 992px) {
  .info {
    margin-left: -2em;
  }
}

@media (max-width: 992px) {
  .info {
    margin-left: 1em;
  }
}
