<div class="container entity movement">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="movement">
      
      <app-title [entity]="movement"></app-title>
      
      <div *ngIf="
          movement?.abstract?.length ||
          movement?.influenced_by?.length
        ">
        <app-collapse collapse="{{ collapse }}" [showVideo]="videoExists">


          <app-abstract [entity]="movement"></app-abstract>

        <div class="video">
          <app-video [entity]="movement" (videoFound)="videoFound($event)"></app-video>
          <app-video *ngFor="let artwork of sliderItems.slice(0,10)" [entity]="artwork"
            (videoFound)="videoFound($event)"></app-video>
        </div>

          <app-information i18n-label="Influenced by label@@influenced_by" label="Influenced by"
            [values]="movement?.influenced_by">
          </app-information>

          <app-information i18n-label="Inception label@@inception" label="Inception" [value]="artwork?.inception">
          </app-information>

        </app-collapse>
      </div>
    </div>

    <div class="col-sm-5 img" *ngIf="movement?.image">
      <img class="img-fluid rounded-circle" src="{{ movement?.imageSmall }}" alt="" />
    </div>
  </div>

  <div class="row">
    <ul class="nav nav-pills">
      <li>
        <button type="button" class="btn btn-secondary" (click)="toggleComponent()"
          i18n="Timeline toggle label@@toggletimeline" [disabled]="showTimelineNotArtworks">TIMELINE
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-secondary" (click)="toggleComponent()"
          i18n="Artworks toggle label@@toggleartworks" [disabled]="!showTimelineNotArtworks">ARTWORKS
        </button>
      </li>
    </ul>
    <span class="ml-1 mt-auto mb-auto">({{ sliderItems?.length }})</span>
  </div>
  <app-timeline *ngIf="showTimelineNotArtworks && sliderItems?.length" [artworks]="sliderItems" displayArtists="true">
  </app-timeline>
  <app-slider *ngIf="(!showTimelineNotArtworks) && sliderItems?.length" [items]="sliderItems"></app-slider>
</div>