/************************************
    Style For Entity Components
************************************/

.entity {
  .img {
    text-align: center;
  }

  img {
    max-height: 20em;
  }

  .collapse-element {
    display: none;

    &-show {
      display: inherit;
    }
  }

  table.table-fit {
    td {
      padding-bottom: 0.5em;
      padding-right: 2em;
      vertical-align: top;
      text-align: left;
    }
    @media (max-width: 992px) {
      td {
        display: block;
        box-sizing: border-box;
        clear: both;
      }
    }
  }

  .more {
    cursor: pointer;
    margin-bottom: 5px;

    i:not(.fa-youtube) {
      margin-left: 5px;
    }
  }

  .abstract > div {
    text-align: justify;
  }

  .wiki-link {
    white-space: nowrap;
    float: right;
  }

  /* Unset cursor: pointer; badge */
  .cursor-heading-pill:hover {
    cursor: default;
  }

  @media (max-width: 575px) {
    &:not(.artwork) > .row:first-child {
      flex-direction: column-reverse;

      img {
        margin-bottom: 3rem;
      }
    }
  }

  /* Makes chip and regular text look good together: adds and removes padding on different screen sizes */
  @media (min-width: 992px) {
    .info {
      margin-left: -2em;
    }

    /*pl-1*/
    .notchip {
      padding-left: 0.25rem;
    }
  }

  @media (max-width: 992px) {
    .info {
      margin-left: 1em;
    }

    /*pl-0*/
    .notchip {
      padding-left: 0;
    }
  }

  /** badge tooltip */

  $color1: #00bc8c;
  .tooltip {
    .tooltip-inner {
      font-size: 100%;
      border-style: solid;
      border-color: $color1;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    .arrow::before {
      border-top-color: $color1;
      border-bottom-color: $color1;
    }
  }
}

.artworks-amount {
  font-size: 0.9em;
  opacity: 0.8;
}

.slider-heading {
  font-size: 2em;
}

.nav-tabs {
  border-color: #ffffff;
}

/* When the nav-tabs is active */
.nav-item > .nav-link.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover,
.nav > li > a:hover {
  //background-color: #868e9650;
  border-bottom-color: #222;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  background-image: linear-gradient(#868e9650, #222);
}

/* When the nav-tabs is hovered */
.nav-tabs > li > a:hover {
  background-color: #868e9644;
  border-color: rgba(255, 255, 255, 0.274);
}

@media (max-width: 575px) {
  .nav-tabs .nav-item {
    width: 100%;
  }
}
