/**********************
    Main SASS File
**********************/

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootswatch/dist/darkly/bootstrap.min.css";

@import 'entity';

@import './styles.scss';
