/************************************
    Global Style Properties
************************************/

html,
body {
  height: auto;
  min-height: 100%;
  scrollbar-color: #888 transparent; //custom colors only for firefox
}

*:focus {
  outline: transparent;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 575px) {
  html,
  body {
    display: block;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .mobile-hidden {
    display: none !important;
  }

  .mobile-no-border {
    border: none !important;
  }

  .content .container {
    padding-left: 0;
    padding-right: 0;
  }

  .video,
  .video iframe {
    width: 100%;
  }

  .container.entity,
  .container.entity > .row {
    margin: 0;
  }
  .container.entity > .row > [class^='col-'] {
    padding: 0;
  }
}

.first-letter::first-letter {
  text-transform: uppercase;
}

.chip {
  font-size: 1em;
  margin-right: 4px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 1px;
}

/* Badge */
.badge {
  margin-right: 4px;
  margin-bottom: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  vertical-align: text-top;
}

.badge:hover {
  cursor: pointer;
}

.badge i {
  margin-right: 5px;
}

/* For highlighted common tags chips */
.badge-light {
  color: #444;
  background-color: #fff;
  opacity: 1 !important;
}

/* If not highlighted, set as transparent (opacity .4) */
.badge-transparent {
  opacity: 0.4;
}

/* Customize carousel  (has no power in slider.compoent.scss)*/
.carousel-indicators {
  visibility: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2%;
}

@media (max-width: 575px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 4%;
  }
}

/* collapse animation */
.collapse,
.collapse.show {
  display: block !important;
  transition: all 0.25s ease-in-out;
}
.collapse {
  opacity: 0;
  height: 0;
}
.collapse.show {
  opacity: 1;
  height: 100%;
}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
}
.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 0.5s; /* Adjust this duration */
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  } /* Set this to 99% for no fade-in. */
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 575px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
  .h2,
  h2 {
    font-size: 1.75rem;
  }
  .h3,
  h3,
  .slider-heading {
    font-size: 1.5rem;
  }
  .h4,
  h4 {
    font-size: 1.25rem;
  }
  .h5,
  h5 {
    font-size: 1rem;
  }
  .h6,
  h6 {
    font-size: 0.9rem;
  }
}

.text-overflow-ellipsis {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-break {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  hyphens: auto;
}

.title-label {
  word-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

icon {
  color: inherit;
}

/* Custom scrollbar styles for webkit browsers Edge, Chrome etc.*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
