#image-main {
  max-width: 100%;
  max-height: 70vh;
}

.img-container {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

/* Animate the enlargement of the image */
.enlarge {
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}

/* Animate the "enlarge icon" when the image is hovered */
.img-container:hover .enlarge {
  -webkit-transform: scale(1.5) translate(-4px, -4px);
  -ms-transform: scale(1.5) translate(-4px, -4px);
  transform: scale(1.5) translate(-4px, -4px);
  opacity: 0.8;
}

.modal {
  display: block;
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 99vw;
  height: 100vh;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 21px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 99;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Adds padding when page gets smaller to avoid overflow between information on the left and information on the right
 * changes image size
*/
@media (min-width: 768px) and (max-width: 992px) {
  .add-padding {
    padding-left: 2em;
  }

  #image-main {
    max-width: 100%;
    max-height: 50vh;
  }
}

.tabs-select{
  margin: auto;
  display: block;
  background: #222;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: .5rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #444;
  border-color: #767676;
}

@media (max-width: 768px) {
  #image-main {
    max-width: 100%;
    max-height: 45vh;
  }
  .tabs{
    display: none;
  }
}

@media (min-width: 768px) {
  .tabs-select{
    display: none;
  }
}

@media (max-width: 575px) {
  #image-main {
    max-width: 100%;
    max-height: 50vh;
  }
  #common-tags {
    display: none;
  }
}

.videos {
  width: 100%;
}
.video {
  display: inline-block;
  margin-right: 16px;
}
.video:last-child {
  margin: 0;
}
.video:empty {
  display: none;
}
