<div class="container">
  <div class="row pb-5 border-bottom" *ngIf="!imageHidden && artwork?.imageMedium">
    <div class="img-container mx-auto d-block" (click)="showModal()">
      <img class="img-fluid d-block" id="image-main" (error)="hideImage()" src="{{ artwork?.imageMedium }}" alt=""/>
      <div class="enlarge">
        <i class="fas fa-expand" (click)="showModal()"></i>
      </div>
    </div>
  </div>

  <!--
    Modal for page overlay when enlarging image, shown when "modalIsVisible" is set to true
  -->
  <div class="modal" *ngIf="modalIsVisible" id="img-modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <!-- Zoom in and out functionality, see package ngx-image-viewer -->
    <div class="modal-content my-auto">
      <ngx-image-viewer [src]="[artwork?.image]" [config]="{
          allowFullscreen: false,
          zoomFactor: 0.1,
          containerBackgroundColor: '#222',
          wheelZoom: true,
          btnShow: {
            zoomIn: true,
            zoomOut: true,
            rotateClockwise: false,
            rotateCounterClockwise: false,
            next: false,
            prev: false
          }
        }"></ngx-image-viewer>
    </div>
  </div>

  <div class="row pt-3 pb-3 border-bottom">
    <div class="col-sm-12">
      <div class="text-muted">
        <span class="badge badge-secondary chip cursor-unset"><i class="fas fa-palette"></i> Artwork</span>
      </div>

      <h2 class="mb-3 first-letter">{{ artwork?.label }}</h2>

      <div class="row">
        <div class="col-md-1">
          <p *ngIf="artwork?.artists?.length" class="mb-1 text-muted">Artist:</p>
        </div>

        <!-- 
          Check length of attribute "artists", if not empty create chips 
          and it's navigation link for every artist 
        -->
        <div class="col-md-11">
          <p *ngIf="artwork?.artists?.length" class="mb-1 add-padding">
            <span class="badge badge-pill badge-secondary first-letter chip" *ngFor="let artist of artwork?.artists"
              [routerLink]="'/artist/' + artist.id">
              <i class="fas fa-user"></i>
              {{ artist?.label }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <p *ngIf="artwork?.locations?.length" class="mb-1 text-muted">Location:</p>
        </div>

        <!--
          Check length of attribute "locations", if not empty create chips
          and it's navigation link for every location
        -->
        <div class="col-md-11">
          <p *ngIf="artwork?.locations?.length" class="mb-1 add-padding">
            <span class="badge badge-pill badge-secondary first-letter chip" *ngFor="let location of artwork?.locations"
                  [routerLink]="'/location/' + location.id">
              <i class="fas fa-archway"></i>
              {{ location?.label }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <p *ngIf="artwork?.inception" class="mb-1 text-muted">Inception:</p>
        </div>
        <!-- Check if attribute "inception" not empty -->
        <div class="col-md-11">
          <p *ngIf="artwork?.inception" class="mb-1 notchip add-padding">{{ artwork?.inception }}</p>
        </div>
      </div>

      <!--
        Check the length of attributes "genres", "movements", "materials" or "motifs", if one of them not empty
        show the collapse element
      -->
      <div *ngIf="
          artwork?.abstract?.length ||
          artwork?.genres?.length ||
          artwork?.movements?.length ||
          artwork?.materials?.length ||
          artwork?.motifs?.length
        ">
        <h4 class="mt-2 more" href="#collapseArtwork" (click)="toggleDetails()">
          More
          <i *ngIf="collapse" href="#collapseArtwork" class="fas fa-chevron-down"></i>
          <i *ngIf="!collapse" href="#collapseArtwork" class="fas fa-chevron-up"></i>
        </h4>

        <div [className]="collapse ? 'collapse' : 'collapse show'" id="collapseArtwork">
          <div class="row">
            <div *ngIf="artwork?.abstract" class="col-md pr-0">
              <span>{{ artwork?.abstract }}</span>
              <p class="wiki-link">More:&nbsp;<a href="{{ artwork?.wikipediaLink }}" target="_blank">Wikipedia</a></p>
            </div>
          </div>

          <!--Loads Youtube-Video Module with a Video releated to the Artwork-->
          <iframe *ngIf="safeUrl" width="560" height="315" [src]='safeUrl' frameborder="0" allowfullscreen></iframe>

          <div class="row">
            <div class="col-md-1">
              <p *ngIf="artwork?.genres?.length" class="mb-1 text-muted">Genre:</p>
            </div>

            <!--
              Check length of attribute "genres", if not empty create chips and it's navigation
              link for every genre
            -->
            <div class="col-md-11">
              <p *ngIf="artwork?.genres?.length" class="mb-1 add-padding">
                <span class="badge badge-pill badge-secondary first-letter chip" *ngFor="let genre of artwork?.genres"
                      [routerLink]="'/genre/' + genre.id">
                  <i class="fas fa-tag"></i>
                  {{ genre?.label }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <p *ngIf="artwork?.movements?.length" class="mb-1 text-muted">Movement:</p>
            </div>

            <!--
              Check length of attribute "movements", if not empty create chips and it's navigation link for every movement
            -->
            <div class="col-md-11">
              <p *ngIf="artwork?.movements?.length" class="mb-1 add-padding">
                <span class="badge badge-pill badge-secondary first-letter chip"
                      *ngFor="let movement of artwork?.movements"
                      [routerLink]="'/movement/' + movement.id">
                  <i class="fas fa-wind"></i>
                  {{ movement?.label }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <p *ngIf="artwork?.materials?.length" class="mb-1 text-muted">Material:</p>
            </div>

            <!--
              Check length of attribute "materials", if not empty create chips and it's navigation link for every material
            -->
            <div class="col-md-11">
              <p *ngIf="artwork?.materials?.length" class="mb-1 add-padding">

                <span class="badge badge-pill badge-secondary first-letter chip"
                      *ngFor="let material of artwork?.materials"
                      [routerLink]="'/material/' + material.id">
                  <i class="fas fa-scroll"></i>
                  {{ material?.label }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <p *ngIf="artwork?.motifs?.length" class="mb-1 text-muted">Motif:</p>
            </div>

            <!-- 
              Check length of attribute "motifs", if not empty create chips and it's navigation link for every motif 
            -->
            <div class="col-md-11">
              <p *ngIf="artwork?.motifs?.length" class="mb-1 add-padding">
                <span class="badge badge-pill badge-secondary first-letter chip" *ngFor="let motif of artwork?.motifs"
                  [routerLink]="'/motif/' + motif.id">
                  <i class="fas fa-image"></i>
                  {{ motif?.label }}</span>
              </p>
            </div>
          </div>


          <!-- Iconclass integration -->
          <div *ngIf="iconclassData !== null" class="row">
            <div class="col-md-1">
              <p class="mb-1 text-muted">Iconography:</p>
            </div>
            <div class="col-md-11">
              <p *ngFor="let iconclass of iconclassData" class="mb-1 add-padding">
                <!-- already adding the fallback to english if the language index is not found on iconclass.org -->
                <!-- which will for example be the case with 'es' -->
                <b>[{{iconclass.n}}]</b> {{iconclass.txt.en || iconclass.txt.en}} <br />
                <!-- the actual language key for the first part of the expression has to be inserted still -->
              </p>
            </div>
          </div>
          <!-- Iconclass integration -->

          <div class="row">
            <div class="col-md-1">
              <p *ngIf="artwork?.height && artwork?.width" class="mb-1 text-muted">Dimension:</p>
            </div>

            <!-- Check if attribute "height" and "width" not empty -->
            <div class="col-md-11">
              <p *ngIf="artwork?.height && artwork?.width" class="mb-1 notchip add-padding">
                {{ artwork?.height }} x {{ artwork?.width }}cm
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3 pt-3">
    <div class="col-sm-12">
      <h3>Related Artworks</h3>

      <!--
        For each tab of the slider carousel, create a nav-tabs item to switch between the sliders
      -->
      <ul class="nav nav-tabs">
        <ng-container *ngFor="let tab of Object.keys(artworkTabs)">
          <li class="nav-item" *ngIf="artwork && artworkTabs[tab].items.length > 0">
            <a class="nav-link" [ngClass]="{ active: artworkTabs[tab].active }" data-toggle="tab"
               href="#{{ artworkTabs[tab].heading }}_tab">
              <i class="mr-1 fa fa-{{ artworkTabs[tab].icon }}"></i> {{ artworkTabs[tab].heading }}
            </a>
          </li>
        </ng-container>
      </ul>

      <!--
        For each tab of the slider carousel, create an app-slider. If the attribute "active" of the tab is set to true,
        set tab as active
      -->
      <div class="tab-content">
        <div *ngFor="let tab of Object.keys(artworkTabs)" class="tab-pane fade"
             [ngClass]="{ 'show active': artworkTabs[tab].active }"
             id="{{ artworkTabs[tab].heading }}_tab">

          <!--
            Listen for an event and assign the attribute "hoveredArtwork" to the hovered artwork.
          -->
          <app-slider (itemHover)="this.hoveredArtwork = $event" [items]="artworkTabs[tab].items"></app-slider>

          <!-- Collapse element for common tags -->
          <h3 class="mt-2 mb-0 more" data-toggle="collapse" href="#collapseTags" (click)="toggleCommonTags()">
            Common <span *ngIf="tab != 'all'">{{ tab }}</span> tags with artwork
            <span>"{{ (artwork?.label?.length > 35) ?
                (artwork?.label | slice:0:35) + '...' : (artwork?.label) }}"</span>
            <i *ngIf="collapseDownTags" data-toggle="collapse" href="#collapseTags"
               class="ml-2 fas fa-chevron-down"></i>
            <i *ngIf="!collapseDownTags" data-toggle="collapse" href="#collapseTags" class="ml-2 fas fa-chevron-up"></i>
          </h3>

          <div class="collapse show" id="collapseTags">
            <p class="mb-4 mt-0"><em>(move the mouse over an artwork to display common tags)</em></p>

            <!--
              For all attributes of the artwork check if length the attribute is not empty and
              the current tab in loop is "all" or the associated tab. If true then create
              the chips for each items of the attribute. If the current item is part of the
              associated attribute of hoveredArtwork, add the class badge-light to highlight
              the chip.
            -->
            <span *ngIf="artwork?.motifs?.length && (tab == 'motif' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1" [ngClass]="{'badge-light': motif && hoveredArtwork?.motifs?.includes(motif.id) }"
                *ngFor="let motif of artwork?.motifs" [routerLink]="'/motif/' + motif.id">
                <i class="fas fa-image"></i>
                {{ motif?.label }}</span>
            </span>

            <span *ngIf="artwork?.artists?.length && (tab == 'artist' || tab == 'all')" class="mb-1">
              <span *ngFor="let artist of artwork?.artists" [ngClass]="{'badge-light': artist && hoveredArtwork?.artists?.includes(artist.id) }"
                class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1" [routerLink]="'/artist/' + artist.id">
                <i class="fas fa-user"></i>
                {{ artist?.label }}</span>
            </span>

            <span *ngIf="artwork?.genres?.length && (tab == 'genre' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1"
                    [ngClass]="{'badge-light': genre && hoveredArtwork?.genres?.includes(genre.id) }"
                    *ngFor="let genre of artwork?.genres" [routerLink]="'/genre/' + genre.id">
                <i class="fas fa-tag"></i>
                {{ genre?.label }}</span>
            </span>

            <span *ngIf="artwork?.movements?.length && (tab == 'movement' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1"
                    [ngClass]="{'badge-light': movement && hoveredArtwork?.movements?.includes(movement.id) }"
                    *ngFor="let movement of artwork?.movements" [routerLink]="'/movement/' + movement.id">
                <i class="fas fa-wind"></i>
                {{ movement?.label }}</span>
            </span>

            <span *ngIf="artwork?.materials?.length && (tab == 'material' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1"
                    [ngClass]="{'badge-light': material && hoveredArtwork?.materials?.includes(material.id) }"
                    *ngFor="let material of artwork?.materials" [routerLink]="'/material/' + material.id">
                <i class="fas fa-scroll"></i>
                {{ material?.label }}</span>
            </span>

            <span *ngIf="artwork?.locations?.length && (tab == 'location' || tab == 'all')" class=" mb-1">
              <span class="badge badge-pill badge-secondary badge-transparent chip mr-1 mb-1"
                    [ngClass]="{'badge-light': location && hoveredArtwork?.locations?.includes(location.id) }"
                    *ngFor="let location of artwork?.locations" [routerLink]="'/location/' + location.id">
                <i class="fas fa-archway"></i>
                {{ location?.label }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
