<div class="container">
  <div class="row pb-5 border-bottom">
    <img class="img mx-auto d-block" id="image-main" src="{{ artwork?.image }}" alt="{{ artwork?.label }}" />
  </div>
  <div class="row pt-3 pb-3 border-bottom">
    <div class="col-sm-12">
      <div class="text-muted">
        <span class="badge badge-secondary"><i class="fas fa-palette"></i> Artwork</span>
      </div>

      <h2 class="mb-1">{{ artwork?.label }}</h2>

      <div class="row">
        <div class="col-1">
          <p *ngIf="artwork?.creators?.length" class="mb-1 text-muted">Artist:</p>
          <p *ngIf="artwork?.locations?.length" class="mb-1 text-muted">Location:</p>
          <p *ngIf="artwork?.inception" class="mb-1 text-muted">Inception:</p>
        </div>

        <div class="col-11">
          <p *ngIf="artwork?.creators?.length" class="mb-1">
            <span class="badge badge-pill badge-secondary" *ngFor="let creator of artwork?.creators"
              [routerLink]="'/artist/' + creator.id">
              {{ creator?.label }}</span>
          </p>
          <p *ngIf="artwork?.locations?.length" class="mb-1">
            <span class="badge badge-pill badge-secondary" *ngFor="let location of artwork?.locations"
              [routerLink]="'/location/' + location.id">
              {{ location?.label }}</span>
          </p>
          <p *ngIf="artwork?.inception" class="mb-1">{{ artwork?.inception }}</p>
        </div>
      </div>
      <div *ngIf="
          artwork?.genres?.length ||
          artwork?.movements?.length ||
          artwork?.materials?.length ||
          artwork?.depicts?.length
        ">
        <h4 class="mt-2 more" data-toggle="collapse" href="#collapseArtwork" (click)="toggleDetails()">
          More
          <i *ngIf="collapseDown" data-toggle="collapse" href="#collapseArtwork" class="fas fa-chevron-down"></i>
          <i *ngIf="!collapseDown" data-toggle="collapse" href="#collapseArtwork" class="fas fa-chevron-up"></i>
        </h4>

        <div class="collapse" id="collapseArtwork">
          <div class="row">
            <div class="col-1">
              <p *ngIf="artwork?.genres?.length" class="mb-1 text-muted">Genre:</p>
              <p *ngIf="artwork?.movements?.length" class="mb-1 text-muted">Movement:</p>
              <p *ngIf="artwork?.materials?.length" class="mb-1 text-muted">Material:</p>
              <p *ngIf="artwork?.depicts?.length" class="mb-1 text-muted">Motif:</p>
              <p *ngIf="artwork?.height && artwork?.width" class="mb-1 text-muted">Dimension:</p>
            </div>

            <div class="col-11">
              <p *ngIf="artwork?.genres?.length" class="mb-1">
                <span class="badge badge-pill badge-secondary" *ngFor="let genre of artwork?.genres"
                  [routerLink]="'/genre/' + genre.id">
                  {{ genre?.label }}</span>
              </p>

              <p *ngIf="artwork?.movements?.length" class="mb-1">
                <span class="badge badge-pill badge-secondary" *ngFor="let movement of artwork?.movements"
                  [routerLink]="'/movement/' + movement.id">
                  {{ movement?.label }}</span>
              </p>

              <p *ngIf="artwork?.materials?.length" class="mb-1">
                <span class="badge badge-pill badge-secondary" *ngFor="let material of artwork?.materials"
                  [routerLink]="'/material/' + material.id">
                  {{ material?.label }}</span>
              </p>

              <p *ngIf="artwork?.depicts?.length" class="mb-1">
                <span class="badge badge-pill badge-secondary" *ngFor="let motif of artwork?.depicts"
                  [routerLink]="'/motif/' + motif.id">
                  {{ motif?.label }}</span>
              </p>

              <p *ngIf="artwork?.height && artwork?.width" class="mb-1">
                {{ artwork?.height }} x {{ artwork?.width }}cm
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3 pt-3">
    <div class="col-sm-12">
      <h3>Related Artworks</h3>

      <ul class="nav nav-tabs">
        <ng-template ngFor let-tab [ngForOf]="Object.keys(artworkTabs)">
          <li class="nav-item" *ngIf="tab == 'all' || artworkTabs[tab].items.length">
            <a class="nav-link" [ngClass]="{ active: artworkTabs[tab].active }" data-toggle="tab"
              href="#{{ artworkTabs[tab].heading }}_tab">
              <i class="fas fa-{{ artworkTabs[tab].icon }}"></i> {{ artworkTabs[tab].heading }}
            </a>
          </li>
        </ng-template>
      </ul>

      <div class="tab-content">
        <div *ngFor="let tab of Object.keys(artworkTabs)" class="tab-pane fade"
          [ngClass]="{ 'show active': tab?.value?.active }" id="{{ artworkTabs[tab].heading }}_tab">

          <app-slider [items]="artworkTabs[tab].items"> </app-slider>

          <h3 class="mt-2 more" data-toggle="collapse" href="#collapseTags" (click)="toggleCommonTags()">
            Common Tag
            <i *ngIf="collapseDownTags" data-toggle="collapse" href="#collapseTags" class="fas fa-chevron-down"></i>
            <i *ngIf="!collapseDownTags" data-toggle="collapse" href="#collapseTags" class="fas fa-chevron-up"></i>
          </h3>

          <div class="collapse" id="collapseTags">
            <p *ngIf="artwork?.creators?.length && (tab == 'artist' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let creator of artwork?.creators"
                [routerLink]="'/artist/' + creator.id">
                {{ creator?.label }}</span>
            </p>
            <p *ngIf="artwork?.genres?.length && (tab == 'genre' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let genre of artwork?.genres"
                [routerLink]="'/genre/' + genre.id">
                {{ genre?.label }}</span>
            </p>

            <p *ngIf="artwork?.movements?.length && (tab == 'movement' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let movement of artwork?.movements"
                [routerLink]="'/movement/' + movement.id">
                {{ movement?.label }}</span>
            </p>

            <p *ngIf="artwork?.materials?.length && (tab == 'material' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let material of artwork?.materials"
                [routerLink]="'/material/' + material.id">
                {{ material?.label }}</span>
            </p>

            <p *ngIf="artwork?.locations?.length && (tab == 'location' || tab == 'all')" class=" mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let location of artwork?.locations"
                [routerLink]="'/location/' + location.id">
                {{ location?.label }}</span>
            </p>

            <p *ngIf="artwork?.depicts?.length && (tab == 'motif' || tab == 'all')" class="mb-1">
              <span class="badge badge-pill badge-secondary" *ngFor="let motif of artwork?.depicts"
                [routerLink]="'/motif/' + motif.id">
                {{ motif?.label }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>