#image-main{
    max-width: 100%;
    max-height: 70vh;
}

.badge {
    margin-right: 2px;
    text-transform: capitalize;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a:hover,
.nav > li > a:hover {
    background-color: #868e96;
    border-color: #FFFFFF;
}

.more{
    cursor: pointer;
}

.badge-light{
    color: #444;
    background-color: #fff;
}