#image-main {
  max-width: 100%;
  max-height: 70vh;
}

.img-container {
  position: relative;

  &:hover{
    cursor: pointer;
  }
}

.enlarge {
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.img-container:hover .enlarge {
  -webkit-transform: scale(1.5) translate(-4px,-4px);
  -ms-transform: scale(1.5) translate(-4px,-4px);
  transform: scale(1.5) translate(-4px,-4px);
  opacity: 0.8;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  // padding-top: 20px;
  // padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100vw;
  height: 100vh;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 99;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.badge {
  margin-right: 2px;
  text-transform: capitalize;
}

.nav-tabs {
  border-color: #FFFFFF;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover,
.nav > li > a:hover {
  background-color: #868e96;
  border-color: #FFFFFF;
}

.nav-tabs > li > a:hover {
  background-color: #868e9644;
  border-color: rgba(255, 255, 255, 0.274);
}

.more{
    cursor: pointer;
}

.badge-light{
    color: #444;
    background-color: #fff;
    opacity: 1 !important;
}

.badge-transparent{
  opacity: .4;
}

/* Makes chip and regular text look good together: adds and removes padding on different screen sizes */
@media (min-width: 992px) {

  /*pl-1*/
  .notchip {
    padding-left: 0.25rem;
  }
}

@media (max-width: 992px) {

  /*pl-0*/
  .notchip {
    padding-left: 0;
  }

}

/* Adds padding when page gets smaller to avoid overflow between information on the left and information on the right 
 * changes image size
*/
@media (min-width: 768px) and (max-width: 992px) {

  .add-padding {
    padding-left: 2em;
  }

  #image-main {
    max-width: 100%;
    max-height: 50vh;
  }
}

@media (max-width: 768px) {
  #image-main {
    max-width: 100%;
    max-height: 45vh;
  }
}

@media (max-width: 576px) {
  #image-main {
    max-width: 100%;
    max-height: 30vh;
  }
}
