#metadata-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#metadata-right{
    display: flex;
    flex-direction: column;
}

.badge {
    margin-right: 2px;
}

.more{
    cursor: pointer;
}