$color1: #00bc8c;

:host ::ng-deep .app-information-content-badges {
  display: flex;
  flex-flow: column;
}

:host ::ng-deep .current-element {
  .badge {
    background: $color1;
  }
}

:host ::ng-deep .children {
  h4 {
    font-size: small;
  }
}

:host ::ng-deep .more {
  margin-left: 5.6rem;
}

:host ::ng-deep .app-information-description {
  max-width: 15%;
  min-width: 15%;
}

:host ::ng-deep .app-information-content {
  max-width: 85%;
  min-width: 85%;
}

.subtitle {
  color: #888;
  font-size: small;
  display: block;
}