@import '../../../../variables.scss';

$color1: #00bc8c;

input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
  overflow: hidden;

  /* Firefox 19+ */
  &::-moz-placeholder,
  /* Firefox 18- */
  &:-moz-placeholder, 
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    display: none;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  &__header {
    &-chips {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0.1em;
      background: #f5f5f5;
      border-radius: 8px;
      border: 0px solid #ccc;
    }

    &-chip {
      font-size: 1em;
      margin: 0.2em;
      display: flex;
      align-items: center;

      &-label {
        display: inline-block;
        max-width: 20em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &--entity {
          margin-left: $SizeTiny;
        }
      }

      &-removeButton {
        margin-left: 4px;
      }
    }

    &-input {
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      z-index: 20;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      &-searchButton {
        position: relative;
        margin: -37px -7px;
        margin-top: -34px;
        float: right;
        z-index: 30;
      }
    }
  }

  &__result {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;

    &-type {
      padding: 8px 0;
      position: relative;
      display: inline-block;
      width: 74px;
      text-align: center;

      &-thumbnail {
        max-width: 70px;
        height: 45px;
        object-fit: contain;
      }
    }

    &-label {
      flex: 1;
      padding: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-chip {
      margin-left: 15px;
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
}

::ng-deep {
  .search .dropdown-menu .dropdown-item {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7rem;
    padding: 0em;
    padding-right: 8px;
    min-height: 3rem;

    @media (min-width: 577px) and (max-width: 767px) {
      font-size: 1.4rem;
    }

    @media (min-width: 377px) and (max-width: 576px) {
      font-size: 1rem;
    }

    @media (min-width: 0px) and (max-width: 376px) {
      font-size: 0.8rem;
    }
  }
  .ngb-highlight {
    font-weight: 700;
    color: $color1;
  }
  .dropdown-menu {
    width: 100%;
  }
}
