input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
  overflow: hidden;
}
input.form-control::-webkit-input-placeholder {
  display: none;
}
input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
input.form-control:-ms-input-placeholder {
  display: none;
}

span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.fa-search {
  color: #38dfa7;
  margin: -30px 7px;
  float: right;
}

#search-badge {
  float: right;
  margin-left: 15px;
}

.type-container {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 80px;
  text-align: center;
}

:host ::ng-deep .ngb-highlight {
  font-weight: 700;
  color: red;
}

:host ::ng-deep .dropdown-item {
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}

.mr-1 {
  max-width: 70px;
  object-fit: contain;
}

.search-chip {
  font-size: 1em;
  margin: 0 1px 0 1px;
}

.search-chip-x {
  margin-left: 4px;
}

.fa-user{
  height: 25px !important;
  width: 25px !important;
  margin: 8px;
}

#search-header{
  margin-top: -3px;
}