@import '../../../../variables.scss';

$color1: #00bc8c;

input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
  overflow: hidden;
}

input.form-control::-webkit-input-placeholder {
  display: none;
}

input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}

input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}

input.form-control:-ms-input-placeholder {
  display: none;
}

span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

#search-button {
  position: relative;
  margin: -37px -7px;
  float: right;
  z-index: 30;
}

#search-badge-artwork {
  float: right;
  margin-left: 15px;
  margin-top: 18px;
}

#search-badge-other {
  float: right;
  margin-left: 15px;
  margin-top: 12px;
}

.type-container {
  position: relative;
  display: inline-block;
  padding: 8px;
  padding-right: 0;
  width: 74px;
  text-align: center;
}

:host ::ng-deep .ngb-highlight {
  font-weight: 700;
  color: $color1;
}

:host ::ng-deep .dropdown-item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}

.mr-1 {
  max-width: 70px;
  object-fit: contain;
}

.search-chip {
  font-size: 1em;
  margin: 0 1px 0 1px;
}

.search-chip-x {
  margin-left: 4px;
}

#search-header {
  position: relative;
  margin-top: -3px;
  z-index: 20;
}

.chip-placeholder{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
}