<ng-template #rt let-r="result" let-t="term">
  <div class="search__result">
    <span class="search__result-type">
      <i *ngIf="r['type'] == 'motif'" class="fas fa-image"></i>
      <i *ngIf="r['type'] == 'location'" class="fas fa-archway"></i>
      <i *ngIf="r['type'] == 'genre'" class="fas fa-tag"></i>
      <i *ngIf="r['type'] == 'material'" class="fas fa-scroll"></i>
      <i *ngIf="r['type'] == 'movement'" class="fas fa-wind"></i>
      <i *ngIf="r['type'] == 'artist'" class="fas fa-user"></i>
      <img *ngIf="r['type'] == 'artwork'" [src]="r?.imageSmall" class="search__result-type-thumbnail" />
    </span>

    <ngb-highlight class="search__result-label" [result]="r.label" [term]="t"></ngb-highlight>

    <p class="badge badge-secondary search__result-chip">
      <span *ngIf="r?.type !== 'motif' && r?.type !== 'motif'; else elseBlock"> {{ r?.type }}</span>
      <ng-template #elseBlock> motif </ng-template>
    </p>
  </div>
</ng-template>

<div class="search">
  <div *ngIf="searchItems.length > 0 && isHeaderSearch" class="search__header-chips">
    <span
      *ngFor="let i of searchItems"
      class="badge badge-pill badge-secondary chip search__header-chip"
      [routerLink]="i?.type !== 'motif' ? '/' + i?.type + '/' + i?.id : '/motif/' + i?.id"
    >
      <span *ngIf="i.type === 'artist'" class="fas fa-user"></span>
      <span *ngIf="i.type === 'movement'" class="fas fa-wind"></span>
      <span *ngIf="i.type === 'material'" class="fas fa-scroll"></span>
      <span *ngIf="i.type === 'genre'" class="fas fa-tag"></span>
      <span *ngIf="i.type === 'location'" class="fas fa-archway"></span>
      <span *ngIf="i.type === 'motif'" class="fas fa-image"></span>
      <span *ngIf="i.type" class="search__header-chip-label ml-1">{{ i.label }}</span>
      <span *ngIf="!i.type" class="search__header-chip-label">"{{ i.label }}"</span>
      <span (click)="removeTag(i)" class="fas fa-times-circle search__header-chip-removeButton"></span>
    </span>
  </div>

  <input
    class="form-control search__header-input"
    [focusFirst]="false"
    type="text"
    name="Artwork"
    #input
    placeholder="{{ placeholderText }}"
    [ngbTypeahead]="search"
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
    (selectItem)="itemSelected($event)"
    (keyup.enter)="searchTriggered()"
    (keyup.esc)="clearAllTags()"
    (keyup.backspace)="readyToRemove()"
    (keydown.backspace)="removeNewestTag()"
    [(ngModel)]="searchInput"
  />
</div>

<button class="btn btn-link search__header-input-searchButton" (click)="searchTriggered()">
  <i class="fas fa-search"></i>
</button>
