<footer class="text-center">
  <div class="container pt-3 p-sm-0">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <a class="p-2 p-sm-3" [routerLink]="['/about']" i18n="Menu About item label@@menuAbout">About</a>
      <a class="p-2 p-sm-3" [routerLink]="['/imprint']" i18n="Menu Legal Notice item label@@menuLegalNotice">Legal Notice</a>
      <a class="p-2 p-sm-3" [routerLink]="['/data-protection']" i18n="Menu Data Protection item label@@menuDataProtection">Data Protection Declaration</a>
      <a class="p-2 p-sm-3 " href="https://wikidata.org" target="_blank">
        <img class="wikidata-link" src="./assets/images/Wikidata_Stamp_Rec_Dark_compressed.svg" alt="Wikidata_Stamp_Rec_Dark.svg">
      </a>
      <a class="p-2 p-sm-3" href="https://twitter.com/openartbrowser" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
