<footer class="text-center">
  <div class="container pt-3 p-sm-0">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <a class="p-2 p-sm-3" [routerLink]="['/about']" i18n="Menu About item label@@menuAbout">About</a>
      <a class="p-2 p-sm-3" [routerLink]="['/imprint']" i18n="Menu Legal Notice item label@@menuLegalNotice">Legal Notice</a>
      <a class="p-2 p-sm-3" [routerLink]="['/data-protection']" i18n="Menu Data Protection item label@@menuDataProtection">Data Protection Declaration</a>
      <a class="p-2 p-sm-3 " href="https://wikidata.org" target="_blank">
        <img class="wikidata-link" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Wikidata_Stamp_Rec_Dark.svg" alt="Wikidata_Stamp_Rec_Dark.svg">
      </a>
    </div>
  </div>
</footer>
