footer {
  padding: 3rem 5rem;
}

.wikidata-link {
  height: 2rem;
}

@media (max-width: 575px) {
  footer {
    padding: 0 1rem 1rem 1rem;
  }

  .container {
    border-top: 1px solid #dee2e6;
  }
}
