img {
    max-height: 20em;
  }
  
  .more{
    cursor: pointer;
  }

/* google maps */
.google-maps {
    position: relative;
    padding-bottom: 60%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}


.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
