img {
  max-height: 20em;
}

/* Unset cursor: pointer; badge */
.cursor-unset{
  cursor: unset;
}

.wiki-link {
  white-space: nowrap;
  float: right;
}

@media (min-width: 992px) {
  .info {
    margin-left: -2em;
  }
}

@media (max-width: 992px) {
  .info {
    margin-left: 1em;
  }
}
