<div class="container entity location">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="location">
      <app-title [entity]="location"></app-title>

      <app-information i18n-label="Country label@@country" label="Country" [value]="location?.country"> </app-information>

      <app-information i18n-label="Official page label@@official_page" label="Official page" [value]="location?.website"> </app-information>

      <div *ngIf="location?.abstract">
        <app-collapse collapse="{{ collapse }}">
          <app-abstract [entity]="location"></app-abstract>
        </app-collapse>
      </div>
    </div>

    <div class="col-sm-5 img" *ngIf="location?.image">
      <img class="img-fluid rounded-circle" src="{{ location?.imageSmall }}" alt="" />
    </div>
  </div>
  <h3 i18n="Artworks label@@artworks">Artworks</h3>
  <app-slider [items]="sliderItems"></app-slider>
</div>
