<div *ngIf="idDoesNotExist" class="container entity location">
  <div class="row pb-4 pb-sm-5 mb-sm-5">
    <app-error-message  [id]="locationId"></app-error-message>
  </div>
</div>

<div *ngIf="!idDoesNotExist" class="container entity location">
  <div class="row mb-4 pb-4 border-bottom">
    <div class="col-sm-7" *ngIf="location">
      <app-title [entity]="location"></app-title>
      <app-sticky-title [entity]="location"></app-sticky-title>

      <div class="mb-3 mt-3">
        <p *ngIf="location.description" class="mb-1 first-letter">
          {{ location.description }}
        </p>
      </div>

      <app-information *ngIf="location?.country" i18n-label="Country label@@country" label="Country" [value]="location?.country" [isEntityPage]="true"> </app-information>
      <app-information *ngIf="location?.website" i18n-label="Official page label@@official_page" label="Web" [isHref]="true" [value]="location?.website" [isEntityPage]="true"> </app-information>

      <div class="mt-2" *ngIf="location?.abstract">
        <app-collapse>
          <app-abstract [entity]="location"></app-abstract>
        </app-collapse>
      </div>
    </div>

    <div class="col-sm-5 img" *ngIf="location?.image">
      <img class="img-fluid rounded-circle" src="{{ location?.imageSmall }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ location?.absoluteRank }}</span>
  <span class="ms-1 slider-heading" i18n="Artworks label@@artworks">Artworks</span>
  <app-fetching-list id="artworks-list" [query]="query" [options]="fetchOptions"></app-fetching-list>
</div>
