.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  -ms-flex: 1 0 auto;
}

.content {
  position: relative;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  display: flex;
}

app-footer {
  z-index: 1;
}
