name: DEPLOY-TO-STAGING
on:
  push:
    branches:
      - staging
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('app/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: |
          cd app/
          npm ci
      - name: Run build script
        run: |
          cd app/
          npm run build-locale
      - name: Sync directories
        uses: up9cloud/action-rsync@master
        env:
          HOST: ${{ secrets.DEPLOYMENT_SERVER_STAGING }}
          KEY: ${{ secrets.DEPLOYMENT_SERVER_STAGING_SSHKEY }}
          TARGET: ${{ secrets.DEPLOYMENT_SERVER_STAGING_PATH }}
          VERBOSE: true
          USER: ${{ secrets.DEPLOYMENT_USER_STAGING }}
          ARGS: -rltDvz --delete
          SSH_ARGS: '-o StrictHostKeyChecking=no'
          SOURCE: ./app/dist/browser/*
